/* Footer */
footer {
    border-top: 1px solid $blackHaze;
    padding: 68px 0 0 0;
	overflow: hidden;
}

// -------------------------- Row One --------------------------------
#row1 {
    overflow: hidden;
}

.footer-widget {
    width: 155px;
    float: left;
    p {
        font-family: helvetica;
        font-size: 16px;
        color: $blackCurrant;
        line-height: 30px;
    }
    ul {
        list-style: none;       
        li {
            margin: 0 0 18px 0;
            a {
                font-family: helvetica;
                font-size: 16px;
                color: $blackCurrant;
                text-decoration: none;
                display: inline-block;
            }
            a:hover {
                color: $mantis;
            }
        }
    }
}

.footer-widget:nth-child(1) {
    width: 355px;
    margin: 0 128px 0 0;
}

.footer-widget:nth-child(2) {
    width: 100px;
    margin: 5px 152px 0 0;
}

.footer-widget:nth-child(3) {
    margin: 5px 91px 0 0;
}

.footer-widget:nth-child(4) {
    li {
        float: left;
        margin: 0 7px 0 0;
        a {
            
        }
    }
}


// -------------------------- Row One --------------------------------


// -------------------------- Row Two --------------------------------
#row2 {
    margin: 0 0 161px 0;
    p {
        font-family: helvetica;
        font-size: 16px;
        color: $blackCurrant;
    }
    a {
        font-family: helvetica;
        font-size: 16px;
        color: $mantis;
        text-decoration: none;
    }
    a:hover {
        color: $blackCurrant;
    }
}
// -------------------------- Row Two --------------------------------


// -------------------------- Row Three --------------------------------
#row3 {
    width: 403px;
    margin: 0 auto;
    text-align: center;
    p {
        font-family: helvetica;
        font-size: 15px;
        color: $boulder;
        line-height: 25px;
    }
}

#foot-img {
    margin: 0 0 37px 0;
    overflow: hidden;
}

#img-left {
    margin: 10px 0 0 0;
    float: left;
}

#img-right {
    float: right;
}
// -------------------------- Row Three --------------------------------


// Hexagon

