/* ====================== */
/*         ASSETS         */
/* ====================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

:focus {
  outline: 0; }

.clear {
  clear: both;
  line-height: 0;
  font-size: 0; }

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

header,
nav,
section,
article,
aside,
footer {
  display: block; }

@font-face {
  font-family: helvetica;
  src: url(../fonts/helvetica_normal.ttf);
  src: url(../fonts/helvetica_normal.woff);
  src: url(../fonts/helvetica_normal.woff2);
  src: url(../fonts/helvetica_normal.svg);
  src: url(../fonts/helvetica_normal.eot); }

body {
  font-family: helvetica; }

/* ====================== */
/*         LAYOUT         */
/* ====================== */
/* Header */
/* Footer */
footer {
  border-top: 1px solid #f5f6f6;
  padding: 68px 0 0 0;
  overflow: hidden; }

#row1 {
  overflow: hidden; }

.footer-widget {
  width: 155px;
  float: left; }
  .footer-widget p {
    font-family: helvetica;
    font-size: 16px;
    color: #383046;
    line-height: 30px; }
  .footer-widget ul {
    list-style: none; }
    .footer-widget ul li {
      margin: 0 0 18px 0; }
      .footer-widget ul li a {
        font-family: helvetica;
        font-size: 16px;
        color: #383046;
        text-decoration: none;
        display: inline-block; }
      .footer-widget ul li a:hover {
        color: #8fc165; }

.footer-widget:nth-child(1) {
  width: 355px;
  margin: 0 128px 0 0; }

.footer-widget:nth-child(2) {
  width: 100px;
  margin: 5px 152px 0 0; }

.footer-widget:nth-child(3) {
  margin: 5px 91px 0 0; }

.footer-widget:nth-child(4) li {
  float: left;
  margin: 0 7px 0 0; }

#row2 {
  margin: 0 0 161px 0; }
  #row2 p {
    font-family: helvetica;
    font-size: 16px;
    color: #383046; }
  #row2 a {
    font-family: helvetica;
    font-size: 16px;
    color: #8fc165;
    text-decoration: none; }
  #row2 a:hover {
    color: #383046; }

#row3 {
  width: 403px;
  margin: 0 auto;
  text-align: center; }
  #row3 p {
    font-family: helvetica;
    font-size: 15px;
    color: #7a7a7a;
    line-height: 25px; }

#foot-img {
  margin: 0 0 37px 0;
  overflow: hidden; }

#img-left {
  margin: 10px 0 0 0;
  float: left; }

#img-right {
  float: right; }

/* Base */
.container {
  width: 1137px;
  margin: 0 auto; }
