/* ====================== */
/*         ASSETS         */
/* ====================== */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

:focus {
  outline: 0; }

.clear {
  clear: both;
  line-height: 0;
  font-size: 0; }

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

header,
nav,
section,
article,
aside,
footer {
  display: block; }

@font-face {
  font-family: helvetica;
  src: url(../fonts/helvetica_normal.ttf);
  src: url(../fonts/helvetica_normal.woff);
  src: url(../fonts/helvetica_normal.woff2);
  src: url(../fonts/helvetica_normal.svg);
  src: url(../fonts/helvetica_normal.eot); }

body {
  border-top: 3px solid #4f8d8c;
  font-family: helvetica;
  font-size: 17px;
  color: #383046; }

/* ====================== */
/*         LAYOUT         */
/* ====================== */
/* Header */
#site-header {
  padding: 20px 0 0 0; }
  #site-header .container {
    /* logo */
    /* logo */
    /* site-block */
    /* site-block */ }
    #site-header .container #logo {
      float: left;
      width: 209px;
      height: 108px; }
      #site-header .container #logo a {
        background: url(../images/logo@1x.png);
        width: 209px;
        height: 108px;
        display: block;
        text-indent: -9000px; }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          #site-header .container #logo a {
            background: url(../images/logo@2x.png); } }
    #site-header .container .site-block {
      float: right;
      text-align: right;
      /* quick-links */
      /* quick-links */
      /* navbar */
      /* navbar */ }
      #site-header .container .site-block .quick-links {
        margin-bottom: 40px; }
        #site-header .container .site-block .quick-links a {
          text-decoration: none;
          font-size: 16px;
          color: #7d7b7f;
          border-right: 1px solid #ededed;
          display: inline-block;
          padding: 0 21px 0 18px; }
          #site-header .container .site-block .quick-links a i {
            margin-right: 12px; }
          #site-header .container .site-block .quick-links a:last-child {
            border-right: 0;
            padding: 0; }
          #site-header .container .site-block .quick-links a:hover {
            color: #8fc165; }
        #site-header .container .site-block .quick-links .search i {
          color: #cc4961; }
        #site-header .container .site-block .quick-links .help i {
          color: #cc4961; }
        #site-header .container .site-block .quick-links .company-tel {
          border-right: 0; }
          #site-header .container .site-block .quick-links .company-tel i {
            color: #4f8d8c; }
        #site-header .container .site-block .quick-links .btn {
          background: green;
          width: 180px;
          line-height: 50px;
          color: #fff;
          text-align: center; }
      #site-header .container .site-block #navbar ul {
        list-style: none; }
        #site-header .container .site-block #navbar ul li {
          float: left;
          position: relative; }
          #site-header .container .site-block #navbar ul li a {
            display: block;
            text-decoration: none;
            font-size: 19px;
            color: #383046;
            margin-left: 48px; }
            #site-header .container .site-block #navbar ul li a:after {
              content: '';
              border-bottom: 3px solid #8fc165;
              width: 39px;
              display: none;
              margin: 0 auto;
              padding-bottom: 20px; }
            #site-header .container .site-block #navbar ul li a:hover {
              color: #8fc165; }
              #site-header .container .site-block #navbar ul li a:hover:after {
                display: block; }
          #site-header .container .site-block #navbar ul li ul {
            background: #8fc165;
            position: absolute;
            top: 100%;
            left: 34%;
            display: none; }
            #site-header .container .site-block #navbar ul li ul li a {
              width: 170px;
              display: block;
              color: #ffffff;
              text-align: left;
              margin: 0;
              padding: 10px; }
              #site-header .container .site-block #navbar ul li ul li a:hover {
                background: #383046;
                color: #ffffff; }
                #site-header .container .site-block #navbar ul li ul li a:hover:after {
                  display: none; }
            #site-header .container .site-block #navbar ul li ul li ul {
              position: absolute;
              top: 0;
              left: 100%; }
          #site-header .container .site-block #navbar ul li:hover > ul {
            display: block; }
          #site-header .container .site-block #navbar ul li.active > a {
            color: #8fc165; }
            #site-header .container .site-block #navbar ul li.active > a:after {
              content: '';
              border-bottom: 3px solid #8fc165;
              width: 39px;
              display: block;
              margin: 0 auto;
              padding-bottom: 20px; }

/* Footer */
footer {
  border-top: 1px solid #f5f6f6;
  padding: 68px 0 0 0;
  overflow: hidden; }

#row1 {
  overflow: hidden; }

.footer-widget {
  width: 155px;
  float: left; }
  .footer-widget p {
    font-family: helvetica;
    font-size: 16px;
    color: #383046;
    line-height: 30px; }
  .footer-widget ul {
    list-style: none; }
    .footer-widget ul li {
      margin: 0 0 18px 0; }
      .footer-widget ul li a {
        font-family: helvetica;
        font-size: 16px;
        color: #383046;
        text-decoration: none;
        display: inline-block; }
      .footer-widget ul li a:hover {
        color: #8fc165; }

.footer-widget:nth-child(1) {
  width: 355px;
  margin: 0 128px 0 0; }

.footer-widget:nth-child(2) {
  width: 100px;
  margin: 5px 152px 0 0; }

.footer-widget:nth-child(3) {
  margin: 5px 91px 0 0; }

.footer-widget:nth-child(4) li {
  float: left;
  margin: 0 7px 0 0; }

#row2 {
  margin: 0 0 161px 0; }
  #row2 p {
    font-family: helvetica;
    font-size: 16px;
    color: #383046; }
  #row2 a {
    font-family: helvetica;
    font-size: 16px;
    color: #8fc165;
    text-decoration: none; }
  #row2 a:hover {
    color: #383046; }

#row3 {
  width: 403px;
  margin: 0 auto;
  text-align: center; }
  #row3 p {
    font-family: helvetica;
    font-size: 15px;
    color: #7a7a7a;
    line-height: 25px; }

#foot-img {
  margin: 0 0 37px 0;
  overflow: hidden; }

#img-left {
  margin: 10px 0 0 0;
  float: left; }

#img-right {
  float: right; }

/* Base */
.container {
  width: 1137px;
  margin: 0 auto; }
