@font-face {
    font-family: helvetica;
    src: url(../fonts/helvetica_normal.ttf);
    src: url(../fonts/helvetica_normal.woff);
    src: url(../fonts/helvetica_normal.woff2);
    src: url(../fonts/helvetica_normal.svg);
    src: url(../fonts/helvetica_normal.eot);
}

body {
	border-top: 3px solid $smaltBlue;
	font-family: helvetica;
	font-size: 17px;
	color: $blackCurrant;
}