// Brand Colors
$jumbo: #7d7b7f;
$chestnutRose: #cc4961;
$copperfield: #e18e76;
$smaltBlue: #4f8d8c;
$gallery: #ededed;
$mantis: #8fc165;
$blackCurrant: #383046;
$white: #ffffff;
$gray: #868686;
$steelGray: #302b42;
$jumbo2: #858389;
$blush: #ba475b;
$boulder: #7a7a7a;
$burningSand: #e19079;
$tiber: #082538;
$silver: #cccaca;
$blackHaze: #f5f6f6;

// Vars
$cW: 1208px;
